%h1= t('alarms.edit_title')
= form_with(model: @alarm, url: team_event_alarm_path(@team, @event, @alarm),
            html: { 'data-controller': 'alarm-form' }) do |f|
  - if @alarm.errors.any?
    - @alarm.errors.full_messages.each do |msg|
      .alert.alert-danger
        = msg
  = f.hidden_field :alarmable_type, value: params[:team] ? @team.class.name : current_user.class.name
  = f.hidden_field :alarmable_id, value: params[:team] ? @team.id : current_user.id
  .input-group.mb-3
    .form-floating
      = f.select :type, { t('alarms.email') => 'AlarmEmail', t('alarms.notification') => 'AlarmNotification' },
                 {}, class: 'form-select', placeholder: t('alarms.type'),
                     data: { action: 'alarm-form#toggleEmail', 'alarm-form-target': 'type' }
      = f.label :type, t('alarms.type')
    .form-floating{ data: { 'alarm-form-target': 'email' } }
      = f.email_field :email, class: 'form-control', placeholder: t('alarms.email_address')
      = f.label :email, t('alarms.email_address')
  .input-group.mb-3.align-items-center.w-auto
    = t('alarms.trigger_html', number: f.number_field(:interval, class: 'form-control mx-1'),
                               period: f.select(:period, Alarm.periods.map { |p| t("period.#{p}") },
                                                {}, class: 'form-select mx-1'))
  .form-floating.mb-3
    = f.text_area :description, class: 'form-control h-min', placeholder: t('alarms.description')
    = f.label :description, t('alarms.description')
  = f.submit t('alarms.save'), class: 'btn btn-primary'
