%h1.d-flex.justify-content-between
  %span
    = t('alarms.index_title_html', event: link_to(@event.name, [@team, @event]))
  .buttons
    - if policy(@event.alarms.new).team_create?
      = link_to new_team_event_alarm_path(@team, @event, team: true), class: 'btn btn-success me-1' do
        = t('alarms.create_team')
    - if policy(@event.alarms.new).create?
      = link_to new_team_event_alarm_path(@team, @event), class: 'btn btn-success' do
        = t('alarms.create')
- @alarms.each do |alarm|
  .card.card-body.mb-3
    .d-flex.justify-content-between
      = link_to edit_team_event_alarm_path(@team, @event, alarm) do
        %h3.mb-0
          %span
            - if alarm.action == 'EMAIL'
              = t('alarms.email_for', email: alarm.email.presence || alarm.alarmable.email)
            - else
              - identifier = alarm.alarmable.instance_of?(User) ? alarm.alarmable.username : alarm.alarmable.name
              = t('alarms.notification_for', notifiable: identifier)
      .buttons
        - if policy(alarm).destroy?
          = button_to t('alarms.remove'), team_event_alarm_path(@team, @event, alarm), method: :delete,
                                                                                       form: { class: 'd-inline' },
                                                                                       class: 'btn btn-danger'
    %p
      = t('alarms.triggered', amount: t("interval.#{alarm.period}", count: alarm.interval))
    - if alarm.description.present?
      %h5= t('alarms.description')
      %pre= alarm.description
