- url_with_webcal = URI(url)
- url_with_webcal.scheme = 'webcal'
%span.dropdown
  = link_to(t(:subscribe), '#', class: "#{button_class} dropdown-toggle", data: { 'bs-toggle': 'dropdown' })
  %ul.dropdown-menu
    %li.dropdown-item
      = link_to(t(:webcal), url_with_webcal.to_s, class: 'dropdown-item')
    %li.dropdown-item
      = link_to(t(:google_calendar), "https://www.google.com/calendar/render?cid=#{url_with_webcal}",
                class: 'dropdown-item')
    %li.dropdown-item{ data: { controller: 'clipboard' } }
      %input.visually-hidden{ value: url, data: { 'clipboard-target': 'source' } }
      = link_to(t(:copy_ical), url, class: 'dropdown-item', data: { action: 'clipboard#copy' })
