.row
  .col-md-8.mb-5
    %h1.d-flex.justify-content-between
      = @event.name
      %span.buttons
        = link_to('Webcal', team_event_url(@team, @event, format: :ics, protocol: :webcal), class: 'btn btn-secondary')
        - if user_signed_in?
          = link_to 'Alarms', team_event_alarms_path(@team, @event), class: 'btn btn-secondary'
        - if policy(@event).update?
          = link_to('Edit', edit_team_event_path(@team, @event), class: 'btn btn-secondary')
        - if policy(@event).destroy?
          = button_to 'Remove', team_event_path(@team, @event), method: :delete, form: { class: 'd-inline' }, class: 'btn btn-danger'
    - if @event.description.present?
      .row.g-2.mb-2
        .col-auto
          %i.fas.fa-fw.fa-align-left
        .col
          = @event.description
    - if @event.meeting_url.present?
      .row.g-2.mb-2
        .col-auto
          %i.fas.fa-fw.fa-video
        .col
          = link_to @event.meeting_url, @event.meeting_url
    = link_to(team_path(@event.team)) do
      .row.g-2.mb-2
        .col-auto
          %i.fas.fa-fw.fa-user-group
        .col
          Run by
          = @event.team.name
    .row.g-2.mb-2
      .col-auto
        %i.fas.fa-fw.fa-clock
      .col
        %div= local_time(@event.starts_at, :long)
        %div= local_time(@event.ends_at, :long)
    - if @event.schedule_recurrences.present?
      .row.g-2.mb-2
        .col-auto
          %i.fas.fa-fw.fa-rotate-right
        .col
          - @event.schedule_recurrences.each do |recurrence|
            %div= recurrence.rule.to_s
  .col-md-4
    - dated_occurrences = @event.occurrences.group_by { |o| o.starts_at.strftime("%B %Y") }
    - dated_occurrences.each do |date, occurrences|
      .card.card-body.mb-3
        %h3= date
        %ul
          - occurrences.each do |occurrence|
            %li
              = local_time(occurrence.starts_at, :short)
              \-
              = local_time(occurrence.ends_at, :short)
              - if policy(@event).update?
                = button_to 'Remove', team_event_event_occurrence_path(@team, @event, occurrence), method: :delete, form: { class: 'd-inline' }, class: 'btn btn-sm link-danger'
