= turbo_frame_tag @teams_user do
  = form_with(model: @teams_user, url: team_teams_user_path(@team, @teams_user), class: 'row') do |f|
    - if @teams_user.errors.any?
      - @teams_user.errors.full_messages.each do |msg|
        .alert.alert-danger
          = msg
    .col-auto
      = avatar @teams_user.user, size: 40
    .col
      .fw-bold.m-0= @teams_user.user.name
      = f.select :role, TeamsUser.roles.keys, {}, class: 'form-select form-select-sm'
    .col-auto
      = f.submit 'Save', class: 'btn btn-sm btn-primary'
      = link_to '', team_teams_user_path(@team, @teams_user), class: 'btn btn-close'
